<h1 mat-dialog-title>Adicione um Produto</h1>

<div mat-dialog-content>
  <form [formGroup]="addProductForm">
    <mat-form-field appearance="fill">
      <mat-label>Titulo</mat-label>
      <input matInput formControlName="title" placeholder="Titulo">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Categoria</mat-label>
      <input matInput formControlName="category" placeholder="Categoria">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Preço</mat-label>
      <input matInput type="number" formControlName="price" placeholder="Preço">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Quantidade</mat-label>
      <input matInput type="number" formControlName="quantity" placeholder="Quantidade">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descrição</mat-label>
      <textarea matInput formControlName="description" placeholder="Descrição"></textarea>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button color="primary" (click)="onCreate()">Adicionar</button>
</div>
